<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="dog_robot_gazebo">

  <xacro:macro name="foot_friction" params="prefix">
    <gazebo reference="${prefix}_foot_link">
      <mu1>1.0</mu1>
      <mu2>1.0</mu2>
      <kp>1000000.0</kp>
      <kd>100.0</kd>
      <minDepth>0.001</minDepth>
      <maxVel>0.1</maxVel>
      <material>Gazebo/DarkGrey</material>
    </gazebo>
  </xacro:macro>

  <xacro:foot_friction prefix="FL"/>
  <xacro:foot_friction prefix="FR"/>
  <xacro:foot_friction prefix="BL"/>
  <xacro:foot_friction prefix="BR"/>

  <gazebo reference="base_link">
    <material>Gazebo/Grey</material>
    <self_collide>false</self_collide>
  </gazebo>

  <gazebo>
    <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
      <parameters>$(find dog_robot_description)/config/ros2_controllers.yaml</parameters>
    </plugin>
  </gazebo>

</robot>
