<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="dog_robot_gazebo">

  <xacro:macro name="foot_friction" params="prefix">
    <gazebo reference="${prefix}_foot_link">
      <mu1>1.0</mu1>
      <mu2>1.0</mu2>
      <kp>1000000.0</kp>
      <kd>100.0</kd>
      <minDepth>0.001</minDepth>
      <maxVel>0.1</maxVel>
      <material>Gazebo/DarkGrey</material>
    </gazebo>
  </xacro:macro>

  <xacro:foot_friction prefix="FL"/>
  <xacro:foot_friction prefix="FR"/>
  <xacro:foot_friction prefix="BL"/>
  <xacro:foot_friction prefix="BR"/>

  <gazebo reference="base_link">
    <material>Gazebo/Grey</material>
    <self_collide>false</self_collide>
  </gazebo>

  <!--
    The gazebo_ros2_control plugin hangs at startup when the <parameters>
    tag contains a $(find ...) substitution. Pass the absolute path in
    via a xacro arg from the launch file so what reaches Gazebo is a
    plain string.
  -->
  <xacro:arg name="controllers_yaml_path" default=""/>
  <gazebo>
    <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
      <parameters>$(arg controllers_yaml_path)</parameters>
    </plugin>
  </gazebo>

</robot>
