<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="dog_robot_ros2_control">

  <xacro:macro name="joint_iface" params="name lower upper">
    <joint name="${name}">
      <command_interface name="position">
        <param name="min">${lower}</param>
        <param name="max">${upper}</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
  </xacro:macro>

  <ros2_control name="dog_robot_hw" type="system">
    <hardware>
      <plugin>gazebo_ros2_control/GazeboSystem</plugin>
    </hardware>

    <xacro:joint_iface name="FL_hip_yaw"     lower="-0.785" upper="0.785"/>
    <xacro:joint_iface name="FL_thigh_pitch" lower="-1.571" upper="1.571"/>
    <xacro:joint_iface name="FL_knee_pitch"  lower="0.0"    upper="2.617"/>
    <xacro:joint_iface name="FR_hip_yaw"     lower="-0.785" upper="0.785"/>
    <xacro:joint_iface name="FR_thigh_pitch" lower="-1.571" upper="1.571"/>
    <xacro:joint_iface name="FR_knee_pitch"  lower="0.0"    upper="2.617"/>
    <xacro:joint_iface name="BL_hip_yaw"     lower="-0.785" upper="0.785"/>
    <xacro:joint_iface name="BL_thigh_pitch" lower="-1.571" upper="1.571"/>
    <xacro:joint_iface name="BL_knee_pitch"  lower="0.0"    upper="2.617"/>
    <xacro:joint_iface name="BR_hip_yaw"     lower="-0.785" upper="0.785"/>
    <xacro:joint_iface name="BR_thigh_pitch" lower="-1.571" upper="1.571"/>
    <xacro:joint_iface name="BR_knee_pitch"  lower="0.0"    upper="2.617"/>
  </ros2_control>

</robot>
